form{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgba(27, 27, 27, 0.856);
}
label{
    padding: 10px;
    margin-bottom: 10px;
}
input,select,option{
    margin-left: 10px;
    margin-bottom: 10px;
}

button{
    padding: 10px;
    background-color: rgb(122, 163, 240);
    font-size: large;
    border-radius: 5px;
}
