table{
    width: 600px;
    /* border: black solid 1px; */
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 5px 5px 5px 2px grey;
}
tr{
    text-align: justify;
    background-color: rgba(248, 229, 222, 0.877);
}
td, th{
    padding: 20px;
}
th{
    background-color: rgb(59, 145, 59);
}
tr:hover{
    background-color: grey;
}